body{
    font-family: 'Space Mono', monospace;
}
.container{
    background-color: #1a1812;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}

.container h1{
    font-weight: bold;
    font-size: 60px;
    margin-bottom: 40px;
}

.circuloPreto{
    background-color: #0a0903;
    width: 400px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 200px;
    border: 2px solid #0a0903;

}

.circuloPreto div{
    border: 8px solid #0a0903;
}

#verde{
    box-sizing: border-box;
    background-color: #157f1f;
    width: 200px;
    height: 200px;
    border-top-left-radius: 200px;
}

#verde:hover{
    -webkit-box-shadow: -15px -15px 36px 22px #63E670; 
    box-shadow: -15px -15px 36px 4px #63E670;
    background-color: #63E670;
}

#vermelho{
    box-sizing: border-box;
    background-color: #ff0000;
    width: 200px;
    height: 200px;
    border-top-right-radius: 200px;
}

#vermelho:hover{
    -webkit-box-shadow: 15px -15px 36px 22px #FF8080; 
    box-shadow: 15px -15px 36px 4px #FF8080;
    background-color: #FF8080;
}

#azul{
    box-sizing: border-box;
    background-color: #1446a0;
    width: 200px;
    height: 200px;
    border-bottom-left-radius: 200px;
}

#azul:hover{
    -webkit-box-shadow: -15px 15px 36px 22px #6B99ED; 
    box-shadow: -15px 15px 36px 22px #6B99ED;
    background-color: #6B99ED;
}

#amarelo{
    box-sizing: border-box;
    background-color: #ffa51f;
    width: 200px;
    height: 200px;
    border-bottom-right-radius: 200px;
}

#amarelo:hover{
    -webkit-box-shadow: 15px 15px 36px 22px #C6B241; 
    box-shadow: 15px 15px 36px 22px #C6B241;
    background-color: #C6B241;
}

.circuloCentro{
    box-sizing: border-box;
    background-color: #0a0903;
    width: 210px;
    height: 210px;
    border-radius: 210px;
    margin-left: -300px;
    margin-top: -100px;
    display: flex;

}

.textosDeDentro{
    color: antiquewhite;
    text-align: center;
    align-self:center;

}